{% extends "layout.html" %}

{% block body %}
Sections:
<ol>
    <li>According Explanatory Text, with a 'Do Not Show Again' option, or, Do not show expanded after one visit.</li>
    <li>Dashboard Section
        <ul>
            <li>Target Weight</li>
            <li>Total Pack Weight</li>
            <li>Total Items</li>
            <li>Section Totals?</li>
        </ul>
    </li>
    <li>Categories
        <ul>
            <li>Category Header (with name)</li>
            <li>Category SubTotals</li>
            <li>Item Table
                <ul>
                    <li>table headers</li>
                    <li>table rows (populated from db)</li>
                    <li>new item input form (not form based?)</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Beautify Layout/Index</li>
    <li>Beautify the Register and Login pages</li>
    <li>Click and Drag Categories To Reorder</li>
    <li>Click and Drag Items To Reorder</li>
    <li>Item Object
        <ul>
            <li>a table row, with delete button and most model fields</li>
            <li><i class="bi bi-x-circle"></i></li>
            <li><i class="bi bi-trash"></i></li>
            <li><i class="bi bi-grip-horizontal"></i></li>
            <li><i class="bi bi-arrows-move"></i></li>
        </ul>
    </li>
</ol>

{% endblock %}