{% extends "layout.html" %}

{% block body %}

<div class="card my-2 rounded-0" style="border:none">
    <div class="card-header d-flex justify-content-between rounded-0" style="background-color: gold;">
        <strong>How It Works</strong> 
        <a href="#howItWorksCollapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="howItWorksCollapse"><i class="bi bi-arrow-{% if user.visited %}down{% else %}up{% endif %}-square" id="howItWorksExpand" style="color:black;"></i></a>
    </div>
    <div class="card-body collapse {% if not user.visited %}show{% endif %}" id="howItWorksCollapse">
        <p>Are you going on a trip and you're concerned about the weight of your pack/pannier/bag? Then Backplanner is the tool for you! It's simple interface will allow you to record and track all of stuff so that you can be sure you won't carry too much weight again.</p>
        <h5>Instructions</h5>
        <ol>
            <li>Enter a target weight for your pack. You can always update this later.</li>
            <li>Create a new category: Categories are where all of your stuff is kept. In the 'Create a New Category' bar, enter a category name then click <strong>Create</strong>.</li>
            <li>Each category has a 'Create a New item' bar. Enter each of these details and then click <strong>Create</strong> to add your new item. The new item's weight will now be tracked in the Back Facts section.</li>
            <li>Enter all of your items into categories. You will need to provide a weight for each item so that it can be tracked. We recommend you use a digital kitchen scale that can measure tenths of a gram and has a capacity up to 5 kilograms.</li>
            <li>And that's it! Use the include button to include and exclude items from consideration.</li>
            <li>You can also delete items and categories, but be careful: once you delete them they are gone forever.</li>
        </ol>
        {% if user.is_authenticated %}
        <p><input type="checkbox" id="confirmCollapse" {% if user.visited %}checked{% endif %}> Click this box for the instructions to be collapsed on login.</p>
    </div>
</div>

<div class="card" id="dashboard">
    <div class="card-header d-flex justify-content-center" style="background-color: gold;">
        <h3>Back Facts</h3>
    </div>
    <div class="card-body d-flex justify-content-around">
        <div class="">
            <form id="packWeight">
                <label for="targetWeight">Target Weight: <input type="text" id="targetWeight" data-value="{{ user.weight }}" placeholder="0" min="0" size="3" value="{{ user.weight }}" autofocus> Units: <input type="radio" name="targetUnits" id="total-grams" value="grams" {% if user.units == "grams" %}checked {% endif %}><label for="grams">g</label> <input type="radio" name="targetUnits" id="total-ounces" value="ounces" {% if user.units == "ounces" %} checked {% endif %}><label for="ounces">oz</label></label>
                <input type="submit" value="Update" id="update-weight" class="btn btn-outline-secondary btn-sm">
            </form>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">grams</th>
                        <th scope="col">ounces</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Total Pack Weight</th>
                        <td id="total-g" style="text-align: right;">0</td>
                        <td id="total-oz" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <th scope="row">Variance (+/-)</th>
                        <td id="var-g" style="text-align: right;">0</td>
                        <td id="var-oz" style="text-align: right;">0</td>
                    </tr>
                    <tr>
                        <th scope="row">Total Items</th>
                        <td id="total-item" colspan="2" style="text-align: center;">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="">
            <table class="table table-hover table-sm" id="cat-table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Weight (g)</th>
                        <th scope="col">Weight (oz)</th>
                        <th scope="col">Item Count</th>
                    </tr>
                </thead>
                <tbody id="category-dash">
                    {% for cats in categories %}
                    <tr class="{{ cats }}">
                        <th scope="row">{{ cats|capfirst }}</th>
                        <td class="dash-grams" style="text-align: right;">
                            {% for g in grams %}
                            {% if g.category == cats %}
                            {{ g.total_g|floatformat:"1" }}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="dash-oz" style="text-align: right;">
                            {% for oz in ounces %}
                            {% if oz.category == cats %}
                            {{ oz.total_oz|floatformat:"1" }}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="dash-count" style="text-align: center;">
                            {% for ct in counts %}
                            {% if ct.category == cats %}
                            {{ ct.total_ct }}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="categories">
    {% for cats in categories %}
    <div class="category card mt-1 {{ cats }}-category" id="{{ cats }}">
        <div class="card-header d-flex justify-content-between" style="background-color: gold;">
            <span class="h4"><input type="checkbox" class="include-{{ cats }}" name="include-category" checked>  {{ cats|capfirst }}</span>
            <i class="bi bi-x-square ml-1 {{ cats }}-cat-delete h4"></i>
        </div>
        <div class="card-body">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Include</th>
                        <th>Item Description</th>
                        <th>QTY</th>
                        <th>Grams</th>
                        <th>Ounces</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody class="{{ cats }}">
                    {% for its in items %}
                    {% if its.category == cats %}
                    <tr class="{{ its.item }}">
                        <td>
                            <input type="checkbox" name="include-item" class="include-item include-{{ its.category }}-{{ its.item }}" {% if its.include %}checked{% endif %}>
                        </td>
                        <td>
                            <input type="text" name="item" class="items item w-100" value="{{ its.item|capfirst }}" disabled>
                        </td>
                        <td>
                            <input type="number" name="quantity" class="items quantity w-75" value="{{ its.quantity }}" disabled>
                        </td>
                        <td>
                            <input type="number" name="grams" class="items grams w-75" value="{{ its.grams }}" disabled>
                        </td>
                        <td>
                            <input type="number" name="ounces" class="items ounces w-75" value="{{ its.ounces }}" disabled>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-outline-secondary btn-sm update-item" type="button">Update</button>
                                <button class="btn btn-outline-secondary btn-sm delete-item" type="button" id="{{ cats }}-{{ its.item }}-delete">Delete</button>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <form class="{{ cats }}-item-generator d-flex justify-content-center p-1 border rounded">
                <div class="mr-1">
                    <span>Create A New Item: </span>
                    <input type="text" name="item" class="{{ cats }}-desc" autofocus>
                </div>
                <div class="mr-1">
                    <span>Quantity: </span>
                    <input type="text" name="quantity" size="3" class="{{ cats }}-qty">
                </div>
                <div class="mr-1">
                    <span>Weight: </span>
                    <input type="text" min="0" size="5" name="weight" class="{{ cats }}-weight">
                </div>
                <div class="mr-1 d-flex flex-sm-wrap">
                    <span>Units: </span>
                    <span class="d-sm-flex justify-content-sm-start">
                    <input type="radio" name="units" id="{{ cats }}-grams" class="ml-1" value="grams" {% if user.units == "grams" %}checked {% endif %}>
                    <label for="{{ cats }}-grams" class="mr-1"> g</label>
                    <input type="radio" name="units" id="{{ cats }}-ounces" value="ounces" {% if user.units == "ounces" %}checked {% endif %}>
                    <label for="{{ cats }}-ounces"> oz</label>
                    </span>
                </div>
                <div class="d-flex align-items-center">
                    <input type="submit" value="Create" class="ml-1 btn btn-outline-secondary btn-sm" id="{{ cats }}-item-submit" disabled>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
    <div class="border rounded my-1 py-1 d-flex justify-content-center align-items-center" style="background-color:gold" id="category-generator">
        <span>Create A New Category: </span>
        <input type="text" name="create-category" id="create-category" class="ml-2" placeholder="Category Name" style="border: 0;">
        <input type="submit" value="Create" id="category-submit" class="ml-1 btn btn-outline-secondary btn-sm" disabled>
    </div>
</div>
{% endif %}
{% endblock %}