{% extends "layout.html" %}

{% block body %}
<div class="card my-2 rounded-0" style="border:none">
    <div class="card-header d-flex justify-content-between rounded-0" style="background-color: gold;">
        <strong>How It Works</strong> 
        <a href="#howItWorksCollapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="howItWorksCollapse"><i class="bi bi-arrow-up-square" id="howItWorksExpand" style="color:black;"></i></a>
    </div>
    <div class="card-body collapse show" id="howItWorksCollapse">
        Content that introduces the user to Backplanner and explains how it works. Include a button for registration as well.
    </div>
</div>
<div class="card">
    <div class="card-header d-flex justify-content-center" style="background-color: gold;">
        <h3>Back Facts</h3>
    </div>
    <div class="card-body d-flex justify-content-around">
        <div>
           <label for="targetWeight">Target Weight: <input type="number" id="targetWeight" placeholder="0" min="0"> Units: <input type="radio" name="targetUnits" id="grams" value="grams" checked><label for="grams">g</label> <input type="radio" name="targetUnits" id="ounces" value="ounces"><label for="ounces">oz</label></label>
            <div>Total Pack Weight: <span>XXXX</span>, Variance: <span>XxXx</span></div>
            <div>Total Items: <span>XXXX</span></div> 
        </div>
        <div>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Weight (g)</th>
                        <th scope="col">Weight (oz)</th>
                        <th scope="col">Item Count</th>
                    </tr>
                </thead>
                <tbody id="category-dash">
                    <tr>
                        <th scope="row">Bags</th>
                        <td>XXX</td>
                        <td>XxX</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="categories">
    <div class="border rounded my-1 py-1 d-flex justify-content-center align-items-center category" style="background-color:gold" id="category-generator">
        <span>Create A New Category: </span>
        <input type="text" name="create-category" id="create-category" class="ml-2" placeholder="Category Name" style="border: 0;">
        <input type="submit" value="Create" id="category-submit" class="ml-1 btn btn-outline-secondary btn-sm" disabled>
    </div>

    <div class="category-category-name card mt-1" hidden>
        <div class="card-header d-flex justify-content-between" id="category-name">
            <span class="h4">Category Name</span> 
            <i class="bi bi-x-square ml-1 delete"></i>
        </div>
        <div class="card-body">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Include</th>
                        <th>Item Description</th>
                        <th>QTY</th>
                        <th>Grams</th>
                        <th>Ounces</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="category-name tbod">
                </tbody>
            </table>
            <div class="category-name item d-flex justify-content-center p-1 border rounded" style="background-color:gold">
                <div class="mr-1">
                    <span>Create A New Item: </span>
                    <input type="text" class="category-name description" style="border: 0;">
                </div>
                <div class="mr-1">
                    <span>Quantity: </span>
                    <input type="text" class="category-name quantity" style="border: 0;" size="3">
                </div>
                <div class="mr-1">
                    <span>Weight: </span>
                    <input type="text" min="0" style="border: 0;" size="5">
                    <span>Units: </span>
                    <input type="radio" name="targetUnits" id="grams" value="grams" checked>
                        <label for="grams">g</label>
                    <input type="radio" name="targetUnits" id="ounces" value="ounces"><label for="ounces">oz</label>    
                </div>
                <input type="submit" value="Create" class="ml-1 btn btn-outline-secondary btn-sm item-submit" disabled> 
            </div>
        </div>
    </div>
</div>


Sections:
<ol>
    <li>According Explanatory Text, with a 'Do Not Show Again' option, or, Do not show expanded after one visit.</li>
    <li>Dashboard Section
        <ul>
            <li>Target Weight</li>
            <li>Total Pack Weight</li>
            <li>Total Items</li>
            <li>Section Totals?</li>
        </ul>
    </li>
    <li>Categories
        <ul>
            <li>Category Header (with name)</li>
            <li>Category SubTotals</li>
            <li>Item Table
                <ul>
                    <li>table headers</li>
                    <li>table rows (populated from db)</li>
                    <li>new item input form (not form based?)</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Beautify Layout/Index</li>
    <li>Beautify the Register and Login pages</li>
    <li>Click and Drag Categories To Reorder</li>
    <li>Click and Drag Items To Reorder</li>
    <li>Item Object
        <ul>
            <li>a table row, with delete button and most model fields</li>
            <li><i class="bi bi-x-circle"></i></li>
            <li><i class="bi bi-trash"></i></li>
            <li><i class="bi bi-grip-horizontal"></i></li>
            <li><i class="bi bi-arrows-move"></i></li>
            <li><i class="bi bi-arrow-down-square"></i></li>
            <li><i class="bi bi-arrow-up-square"></i></li>
        </ul>
    </li>
</ol>

{% endblock %}